@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    min-width: 0;
    scrollbar-color: #cdcdcd #1d1d1d;
    scrollbar-width: thin;
}

body {
    color: #fff;
    background-color: #1d1d1d;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.8);
    z-index: -10;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.options-menu {
     visibility: hidden;
     position: absolute;
     right: 0;
     top: 25px;
     background-color: #fff;
     border: 1px solid #ccc;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     width: 160px;
}

.options-menu ul li {
    @apply  p-2 flex flex-row items-center cursor-pointer hover:bg-zinc-700;
}

.options-menu ul li svg {
    @apply w-5 mr-2;
}

.nav_icon {
    @apply size-8 rounded-full text-zinc-400 p-1
}

.nav_icon_active {
    @apply text-zinc-900 bg-zinc-300
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

.ripple-container {
    position: relative;
    overflow: hidden;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.alert {
    @apply mt-1 p-4 bg-[rgba(0,0,0,.8)];
}

.alert p {
    @apply text-center text-white;
}

.song:hover .thumbnail {
    @apply brightness-50
}
.song:hover .play-icon {
    @apply opacity-100;
}

.ghost {
    @apply !bg-black
}

#search {
    direction: rtl;
}

#search * {
    direction: ltr;
}