{% for album in albums %}
    <div class="p-2 h-20 w-full flex items-center border-b-[1px] border-[rgba(255,255,255,.1)]">
        <img class="mr-4 ml-0 sm:ml-0 h-12 w-12 min-w-[48px] md:min-w-[60px] md:h-[60px] md:w-[60px] object-cover" src="{{ album.thumbnails[0].url }}" alt="{{ album.title }}">
        <div class="flex flex-col justify-center flex-grow">
            <h3 class="text-ellipsis whitespace-nowrap overflow-hidden text-sm md:text-base">{{ album.title }}</h3>
            <div class="flex">
                <p class="text-xs text-dark overflow-hidden w-full whitespace-nowrap text-ellipsis">
                    {{ album.type }}
                    <span class="whitespace-pre"> • </span>
                    {% for artist in album.artists %}
                        {{ artist.name }}
                    {% endfor %}
                    <span class="whitespace-pre"> • </span>
                    {{ album.year }}
                </p>
            </div>
        </div>
        <div class="min-w-24 ml-auto flex items-center justify-end space-x-2">
            <svg hx-post="/open_album" hx-vals='{"browseId":"{{ album.browseId }}"}' hx-target="#song-container" class="size-5 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
            <img hx-post="/add_to_queue" hx-vals='{"album": {{ album | tojson | safe }} }' hx-swap="none" class="cursor-pointer w-6 h-6" src="{{ url_for('static',filename='images/icons/add_to_queue.png') }}" alt="add_to_queue" title="Add to queue">
            <img hx-post="/play_next" hx-vals='{"album": {{ album | tojson | safe }} }' hx-swap="none" class="cursor-pointer w-6 h-6" src="{{ url_for('static',filename='images/icons/play_next.png') }}" alt="play_next" title="Play next">
        </div>
    </div>
{% endfor %}