<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/icons/speaker2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
    <title>YTMC</title>
</head>
<body>
    <div class="overflow-x-auto scrollbar-hide lg:overflow-visible flex flex-row xl:space-x-4 space-x-0 2xl:container xl:mx-auto snap-x snap-mandatory">

        <div id="search" class="p-1 flex-none w-screen lg:w-auto lg:flex-1 h-screen overflow-y-auto snap-center snap-always">
            <div class="w-full max-w-96 m-3 bg-secondary rounded-lg flex justify-between cursor-pointer">
                <img hx-post="/searchr" hx-target="#song-container" hx-include="[name='search_query']" class="w-16 h-10 px-4 py-2" src="{{ url_for('static',filename='images/icons/loupe.png') }}" alt="search">
                <input id="search_input" hx-post="/searchr" hx-target="#song-container" class="w-full p-2 bg-tranparent focus:outline-none" name="search_query" type="text">
                <img class="w-16 h-10 px-4 py-2" src="{{ url_for('static',filename='images/icons/clear.png') }}" alt="clear" onclick="clearThisID('search_input')">
            </div>
            <div id="song-container" class="">
            </div>
        </div>

        <div id="player" class="p-1 flex-none w-screen lg:w-auto lg:flex-1 h-screen overflow-y-auto snap-center snap-always text-center">
            <!-- Song Thumbnail -->
            <img id="song_thumbnail" class="max-h-[50vh] mb-6 mx-auto rounded-lg shadow-lg object-cover" src="https://via.placeholder.com/300" alt="Song Thumbnail">

            <!-- Song Details -->
            <div class="mb-6">
                <h2 id="current_song_title" class="text-xl font-bold">Song Title</h2>
                <p id="current_song_artist" class="text-sm text-gray-400">Artist 1, Artist 2</p>
                <p id="current_song_album" class="text-sm text-gray-400">Album Name</p>
                <p id="current_song_year" class="text-sm text-gray-400">2024</p>
            </div>

            <!-- Controls -->
            <div class="flex justify-between items-center mb-6">
                <button id="prev" hx-post="/back" hx-swap="none" class="w-10 h-10">
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/skip-to-start.png" alt="Previous">
                </button>
                <button id="playPause" hx-post="/play_pause" hx-swap="none" class="w-14 h-14">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=""><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" /></svg>
                </button>
                <button id="next" hx-post="/skip" hx-swap="none" class="w-10 h-10">
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/end.png" alt="Next">
                </button>
            </div>

            <!-- Progress Bar -->
            <div class="bg-gray-700 h-2 rounded-full relative">
                <div id="progressBar" class="bg-green-500 h-full rounded-full" style="width: 50%;"></div>
            </div>
            <input type="range" min="1" max="100" value="50" class="slider m-6 bg-gray-700" id="volume" oninput="setVolume(this.value)">
        </div>

        <div id="queue" class="p-1 flex-none w-screen lg:w-auto lg:flex-1 h-screen overflow-y-auto snap-center snap-always">
        </div>

    </div>

    <!-- Bottom navigation bar for small screens -->
    <div class="lg:hidden fixed bottom-0 w-full bg-[rgba(15,15,15,.97)] text-white flex justify-around py-2">
        <button onclick="scrollToPanel('search')" class="focus:outline-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg></button>
        <button onclick="scrollToPanel('player')" class="focus:outline-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /><path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" /></svg></button>
        <button onclick="scrollToPanel('queue')" class="focus:outline-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" /></svg></button>
    </div>

</body>
<script type="text/javascript">
    var updateInteval;
    var length = 0
    let startTime;
    let elapsedTime = 0;
    let progress_bar = document.querySelector('#progressBar');
    let progress_bar_container = progress_bar.parentElement;
    let isDragging = false;

    function scrollToPanel(panelId) {
        const panel = document.getElementById(panelId);
        panel.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'center' });
    }

    function clearThisID(target) {
        document.getElementById(target).value = "";
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Connected to WebSocket server');
    });

    socket.on('disconnect', function() {
        console.log('Disconnected from WebSocket server');
    });

    socket.on('update_queue', function(data) {
        var queue = document.querySelector('#queue'); // Get the song container element
        queue.innerHTML = "";
        for (song of data) {
            queue.innerHTML += createQueueItem(song);
        }
        htmx.process(queue);
    });

    socket.on('play_state', function(data) {
        var play_button = document.querySelector('#playPause'); // Get the song container element
        console.log(data);
        if (data == 'Playing') {
            startTime = Date.now() - elapsedTime;
            if (updateInteval) clearInterval(updateInteval);
            updateInteval = setInterval(function () {
                elapsedTime = Date.now() - startTime;
                updateProgressBar();
            }, 50);
            play_button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=""><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" /></svg>'
        } else if (data = 'Paused') {
            clearInterval(updateInteval);
            play_button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=""><path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" /></svg>'
        }
    });

    socket.on('current_song', function(data) {
        console.log(data);
        console.log(data.thumbnail);
        var song_thumbnail = document.querySelector('#song_thumbnail');
        song_thumbnail.src = data.thumbnail;
        var current_song_title = document.querySelector('#current_song_title');
        current_song_title.innerHTML = data.title;
        var current_song_artist = document.querySelector('#current_song_artist');
        current_song_artist.innerHTML = data.artists;
        var current_song_album = document.querySelector('#current_song_album');
        current_song_album.innerHTML = data.album;
        var current_song_year = document.querySelector('#current_song_year');
        current_song_year.innerHTML = data.release_year;
        length = data.duration - 1;
        console.log('Length: ' + length);
        updateProgressBar();
    });

    socket.on('volume', function(data) {
        var volume = document.querySelector('#volume');
        volume.value = data;
    });

    socket.on('current_time', function(data) {
        console.log('Current Time: ' + data);
        startTime = Date.now() - data;
        elapsedTime = data;
        updateProgressBar();
    });

    function createQueueItem(song) {
        return `
        <div id="queue_item" class="p-2 border-b-[1px] h-20 flex items-center border-[rgba(255,255,255,.1)]" draggable="true">
            <img hx-post="/jump_queue" hx-include="next input" class="mr-4 ml-2 sm:ml-0 h-12 w-12 min-w-12 md:min-w-[60px] md:h-[60px]" src="${song.thumbnail}" alt="${song.title}">
            <div class="flex flex-wrap flex-col">
                <p class="mb-1 text-ellipsis whitespace-nowrap overflow-hidden w-full">${song.title}</p>
                <div class="flex text-[#b4b4b4]">
                    <p class="text-xs text-dark">${song.artists}</p>
                    <span class="text-xs text-dark whitespace-pre"> • </span>
                    <p class="text-xs text-dark">${song.duration_string}</p>
                </div>
            </div>
            <div class="ml-auto">
                <img hx-post="/remove" hx-include="next input" hx-swap="none" class="cursor-pointer w-6 min-w-6 m-2 clear-icon" src="{{ url_for('static',filename='images/icons/clear.png') }}" alt="remove">
            </div>
            <input id="uuid" type="hidden" name="uuid" value="${song.uuid}">
        </div>`;
    }

    var queueList = document.getElementById('queue');
    new Sortable(queueList, {
        animation: 150,
        handle: '.clear-icon',
        onEnd: function (evt) {
            console.log('reordered');
            uuidList = Array.from(queueList.children).map(child => child.querySelector('#uuid').value);
            console.log(uuidList);
            socket.emit('reorder', uuidList);
        }
    });

    function updateProgressBar() {
        if (isDragging) return;
        procent = Math.min(elapsedTime / (length * 10), 100);
        progress_bar.style.width = procent + '%';
    }

    function setVolume(val) {
        socket.emit('volume', val);
    }

    function updatePosition(event) {
        if (!isDragging) return;
        const containerRect = progress_bar_container.getBoundingClientRect();
        let horizontalPosition = ((event.clientX - containerRect.left) / containerRect.width) * 100;
        horizontalPosition = Math.max(0, Math.min(100, horizontalPosition));
        progress_bar.style.width = `${horizontalPosition}%`;
        socket.emit('seek', horizontalPosition / 100);
        console.log('Seeking to: ' + horizontalPosition + '%');
    }

    function startDragging(event) {
        isDragging = true;
        updatePosition(event);
    }

    function stopDragging() {
        isDragging = false;
    }

    progress_bar_container.addEventListener('mousedown', startDragging);
    document.addEventListener('mousemove', updatePosition);
    document.addEventListener('mouseup', stopDragging);
    progress_bar.addEventListener('dragstart', function (event) {
        event.preventDefault();
    });
    progress_bar_container.addEventListener('mousedown', function (event) {
        event.preventDefault();
    });
</script>
</html>
