<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Music Controller</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
</head>

<body class="bg-primary">
    <main class="mx-auto pt-4 max-w-5xl container">
        <a href="/">
            <h1>YouTube Music Controller</h1>
        </a>
        <form action="/control" method="post">
            <button type="submit" name="action" value="start">Start</button>
            <button type="submit" name="action" value="stop">Stop</button>
        </form>
        <button hx-get="/init" hx-target="#song-container">init</button>
        <button hx-get="/player_bar" hx-target="#player-bar" hx-swap="outerHTML">get_song</button>
        <input hx-post="/search" hx-target="#song-container" class="bg-secondary rounded-sm" name="search_query" type="text">
        <p id="status">{{ status }}</p>
        <div id="song-container"></div>
        <div id="player-bar"></div>
    </main>
</body>

</html>