{% if search.has_main %}
<div class="p-2 w-full flex items-center flex-col">
    <h1>{{search.title}}</h1>
    <h2>{% for artist in search.artists %}{{ artist }}{% if not loop.last %}, {% endif %}{% endfor %}</h2>
    <h2>{{search.year}}</h2>
    <h2>{{search.duration_str}}</h2>
    {% if search.track_count %}
        <h2>{{search.track_count}} tracks</h2>
    {% endif %}
</div>
{% endif %}

{% for song in search.list_items %}
    <div class="song ripple-container p-2 h-20 w-full flex items-center border-b-[1px] border-[rgba(255,255,255,.1)]" oncontextmenu='more_options(event, "{{ song.videoId }}", "{{ search.type }}")'>
        <div hx-post="/add_to_queue" hx-vals='{"song": {{ song | tojson | safe }} }' hx-swap="none" class="relative mr-4 size-12 min-w-[48px] md:min-w-[60px] md:h-[60px] md:w-[60px] cursor-pointer">
            <img class="thumbnail object-cover transition duration-300" src="{{ song.thumbnail }}" alt="{{ song.title }}" loading="lazy">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="play-icon size-8 absolute inset-0 m-auto text-white opacity-0 transition-opacity duration-300">
                <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class="flex flex-col justify-center flex-grow">
            <h3 class="text-ellipsis whitespace-nowrap overflow-hidden text-sm md:text-base">{{ song.title }}</h3>
            <div class="flex">
                <p class="text-xs text-dark overflow-hidden w-full whitespace-nowrap text-ellipsis">
                    {% for i in song.secondary.values() %}
                    {% if i is iterable and i is not string %}
                        {% for j in i %}
                            {{ j }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% else %}
                        {{ i }}
                    {% endif %}
                    {% if not loop.last %}
                        <span class="whitespace-pre"> • </span>
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
        <div class="min-w-6 ml-auto flex items-center justify-end space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="options-icon size-6 cursor-pointer" onclick='more_options(event, "{{ song.videoId }}", "{{ search.type }}")'>
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
            </svg>
        </div>
        <input id="search-song-{{song.videoId}}" type="hidden" name="uuid" value='{{song | tojson | safe}}'>
    </div>
{% endfor %}