{% if filter == 'album' %}

{% endif %}

{% for song in songs %}
    <div class="song p-2 h-20 w-full flex items-center border-b-[1px] border-[rgba(255,255,255,.1)]">
        <div hx-post="/add_to_queue" hx-vals='{"song": {{ song | tojson | safe }} }' hx-swap="none" class="relative mr-4 size-12 min-w-[48px] md:min-w-[60px] md:h-[60px] md:w-[60px] cursor-pointer">
            <img class="thumbnail object-cover transition duration-300" src="{{ song.thumbnails[0].url }}" alt="{{ song.title }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="play-icon size-8 absolute inset-0 m-auto text-white opacity-0 transition-opacity duration-300">
                <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class="flex flex-col justify-center flex-grow">
            <h3 class="text-ellipsis whitespace-nowrap overflow-hidden text-sm md:text-base">{{ song.title }}</h3>
            <div class="flex">
                <p class="text-xs text-dark overflow-hidden w-full whitespace-nowrap text-ellipsis">
                    {% for artist in song.artists %}
                        {{ artist.name }}
                    {% endfor %}
                    {% if song.get('album') %}
                        <span class="whitespace-pre"> • </span>
                        {{ song.album.name }}
                    {% endif %}
                    <span class="whitespace-pre"> • </span>
                    {{ song.duration }}
                </p>
            </div>
        </div>
        <div class="min-w-24 ml-auto flex items-center justify-end space-x-2">
            <img hx-post="/radio" hx-vals='{"videoId":"{{ song.videoId }}"}' hx-swap="none" class="cursor-pointer w-6 h-6" src="{{ url_for('static',filename='images/icons/radio.png') }}" alt="radio" title="Radio">
            <img hx-post="/add_to_queue" hx-vals='{"song": {{ song | tojson | safe }} }' hx-swap="none" class="cursor-pointer w-6 h-6" src="{{ url_for('static',filename='images/icons/add_to_queue.png') }}" alt="add_to_queue" title="Add to queue">
            <img hx-post="/play_next" hx-vals='{"song": {{ song | tojson | safe }} }' hx-swap="none" class="cursor-pointer w-6 h-6" src="{{ url_for('static',filename='images/icons/play_next.png') }}" alt="play_next" title="Play next">
        </div>
    </div>
{% endfor %}